<h1>
  Problems
  <%= link_to "Add new problem", new_problem_path, class: "btn btn-primary pull-right" %>
</h1>

<% @problems.each do |problem| %>
  <hr>
  <div class="media">
    <div class="pull-left">
      <div class="media-object center">
        <p>
          <span><%= getNumber(problem.agree) %></span><br>
          <span>agrees</span>
        </p>
        <p>
          <span>2</span><br>
          <span>solutions</span>
        </p>
      </div>
    </div>

    <div class="pull-right">
      <div class="media-object">
        <p>
          <span class="date"><%= problem.created_at %></span><br>
        </p>
        <p>
          <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50" />
          <span>Foo Bar</span><br>
        </p>
      </div>
    </div>

    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to problem.title, problem_path(problem.id) %>
      </h4>
      <%= problem.description %>
    </div>
  </div>
<% end %>
