<% provide(:title, "Video") %>

<h1>
  <%= get_title(@video) %>
  <div class="pull-right">
    <%= link_to "Edit", edit_video_path(@video), class: "btn btn-default" %>
    <%= link_to "Delete", @video, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  </div>
</h1>

<iframe src="<%= get_player(@video) %>" class="player"></iframe>
<br><br>

<p>
  <%= @video.description %>
</p>
