<%= @solution.title %>
<br>

<%= @solution.description %>

<ul>
  <li>
    <%= form_for [@solution, @solution.solutions.build] do |f| %>
    <%= f.text_field :title %>
    <%= f.submit %>
    <% end %>
  </li>
</ul>
